@font-face {
    font-family: "Octin Prizon";
    src : url("../static/images/fonts/prizon.ttf") format('truetype');
}


.AppWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: url('../static/images/delete.png');
    font-family: "Octin Prizon";
}