.wrapperEvents{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .eventBlocks{
        display: flex;
        flex-direction: column;
        .eventItem{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 30px;
            .imgEvent{
                width: 50%;
            }
        }
    }
}